@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    /* Primary colors (prussian-blue) */
    --primary: 205 88% 39%; /* prussian-blue 600 */
    --primary-foreground: 208 87% 97%; /* prussian-blue 50 */
    --primary-background: 207 72% 21%; /* prussian-blue 900 */

    /* Secondary colors (stiletto) */
    --secondary: 358 57% 51%; /* stiletto 600 */
    --secondary-foreground: 0 71% 97%; /* stiletto 50 */

    /* Muted colors */
    --muted: 206 86% 86%; /* prussian-blue 200 */
    --muted-foreground: 205 88% 39%; /* prussian-blue 600 */

    /* Accent colors */
    --accent: 206 86% 86%; /* prussian-blue 200 */
    --accent-foreground: 205 88% 39%; /* prussian-blue 600 */

    /* Destructive colors (stiletto) */
    --destructive: 358 57% 51%; /* stiletto 600 */
    --destructive-foreground: 0 71% 97%; /* stiletto 50 */
    --destructive-background: 358 50% 31%; /* stiletto 900 */

    /* Border and input colors */
    --border: 204 80% 48%; /* prussian-blue 500 */
    --input: 204 80% 48%; /* prussian-blue 500 */

    /* Ring color */
    --ring: 204 83% 60%; /* prussian-blue 400 */
    --radius: 0.5rem;

    /* Logo white color */
    --logo-white: 34 79% 93%; /* peach-cream 100 */

    --dvh-unit: 1vh;
    --viewport-height: calc(calc(var(--dvh-unit) * 100));
    --header-height: 57px;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    /* Primary colors (prussian-blue) */
    --primary: 205 88% 39%; /* prussian-blue 600 */
    --primary-foreground: 208 87% 97%; /* prussian-blue 50 */
    --primary-background: 207 72% 21%; /* prussian-blue 900 */

    /* Secondary colors (stiletto) */
    --secondary: 358 57% 51%; /* stiletto 600 */
    --secondary-foreground: 0 71% 97%; /* stiletto 50 */

    /* Muted colors */
    --muted: 206 80% 27%; /* prussian-blue 800 */
    --muted-foreground: 206 86% 86%; /* prussian-blue 200 */

    /* Accent colors */
    --accent: 206 80% 27%; /* prussian-blue 800 */
    --accent-foreground: 206 86% 86%; /* prussian-blue 200 */

    /* Destructive colors (stiletto) */
    --destructive: 357 58% 40%; /* stiletto 700 */
    --destructive-foreground: 0 71% 97%; /* stiletto 50 */
    --destructive-background: 357 58% 40%; /* stiletto 700 */

    /* Border and input colors */
    --border: 206 80% 27%; /* prussian-blue 800 */
    --input: 206 80% 27%; /* prussian-blue 800 */

    /* Ring color */
    --ring: 204 83% 60%; /* prussian-blue 400 */
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background-color: hsl(var(--destructive));
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px var(--destructive),
    0 0 5px var(--destructive);
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

.policy {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
    @apply mb-4;
  }
  h2 {
    @apply text-3xl;
    @apply mb-3;
  }
  h3 {
    @apply text-2xl;
    @apply mb-2;
  }
  h4 {
    @apply text-xl;
    @apply mb-2;
  }
  h5 {
    @apply text-lg;
    @apply mb-1;
  }
  h6 {
    @apply text-base;
    @apply mb-1;
  }

  ul {
    @apply mb-4;
    @apply list-disc;
  }

  ol {
    @apply mb-4;
    @apply list-decimal;
  }

  li {
    @apply mb-4;
    @apply list-disc;
    @apply ml-4;
  }

  p {
    @apply mb-4;
  }

  a {
    @apply text-primary;
    @apply hover:underline;
  }

  blockquote {
    @apply border-l-4;
    @apply border-primary;
    @apply pl-4;
    @apply my-4;
  }

  pre {
    @apply my-4;
    @apply p-4;
    @apply bg-gray-100;
    @apply rounded-lg;
  }

  code {
    @apply font-mono;
    @apply bg-gray-100;
    @apply rounded-lg;
    @apply p-1;
  }

  img {
    @apply my-4;
    @apply rounded-lg;
  }
}
